:root
{
	--font1:'Montserrat', sans-serif;
	--blue:#004687;
	--white:#ffffff;
}

*
{
	box-sizing:border-box;
	margin: 0px;
	padding: 0px;
}



/*navbar starts*/

header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
}


li,a,button
{
	font-family: var(--font1);
	font-weight: 700;
	font-size:15px;
	color: black;
	text-decoration: none;
}


.logo a
{
	font-size: 200%;
	font-family: var(--font1);
	font-weight: 700;

}

.logo span
{
	color: var(--blue)

}

.nav_link
{
	list-style:none;
}

.nav_link li
{
	display: inline-block;
	padding: 0px 20px;

}

.burger
{
	display: none;	
	cursor:pointer;
}


.burger div
{
	width:25px; 
	height: 5px;
	background-color:black;
	margin:5px;
}


/*responsive for navbar starts*/
@media(max-width: 768px)
{

body
{
	overflow-x:hidden;
}
.box-container
{
	display: none
}

.nav_link
{
	
	position: absolute;
	right: 0px;
	height: 70vh;
	top:20vh;
	background-color: var(--blue);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	padding: 5%;
	transform: translateX(100%);
	transition: transform 0.5s ease-in;
}

.nav_link li
{
	margin:10%; 
	padding: 10%;
	opacity: 0;	
}

.nav_link li a
{
	color: var(--var(--white));
}
.burger
{
	display: block;
}

.nav-active
{	
	transform: translateX(0%);
}

@keyframes navLinkFade
{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);

	}
}

}

/*responsive for navbar ends*/




/*search buttton starts*/
.box-container
{
	position: relative;
	width:300px;
	height: 42px;
	border: 2px solid var(--blue);
	border-radius: 50px;

}

.element-container
{
	width:100%;
	height: 100%;
	vertical-align: middle;
}

.search
{
	border:none;
	width:100%;
	height: 100%;
	padding:10px;
	background:none;
	font-family: var(--font1);
	pointer-events: none;

}

.search:icon
{
	outline: none;
}

.material-icons
{
	font-size:26;
	color: var(--blue);
}


/*search buttton ends*/


/*navbar ends*/

/*head starts*/
.body-header-image
{
	margin: 2%;
	font-family: var(--font1);
	font-weight: 900;
	text-align:center;
	font-size:150%;
}

.heading-span
{
	color: var(--blue)
}

.heading-para
{
	font-family: var(--font1);
	font-weight: 300;
	font-size:80%;
	padding:2%;
	color:grey;
}

.heading-btn button
{
	padding: 1%;
	width: 12%;
	border-radius: 10px;
	border:none;
	background: var(--blue);
	color:var(--white);
	font-weight:500; 
}

/*responsive body header starts*/
@media(max-width: 768px)
{
	.body-header-image
	{
		margin: 10% 0;
	}

	.heading-btn button
	{
		width: 30%;
		height: 50px;
	}
}
/*responsive body header ends*/

/*head ends*/



/*info starts*/
.info-section
{
	min-height: 50vh;
	width:100%;
	display:flex;
	align-items:center;
	justify-content: center;
	padding: 5%;
}

.container
{
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	display:flex;
	align-items: center;
	justify-content: center;
}

.left
{
	width:70%;
	height: 400px;
	background: url(./img/img.jpg) no-repeat center / cover;
	border-radius: 10px;
}

.right
{
	width: 50%;
	min-height:300px;
	background-color: var(--white);
	display: flex;
	border-radius: 8px;
	padding: 4%;	
	color: var(--white);
	box-shadow: 5px 10px 18px #E8E8E8;
	margin-left: -150px;
}

.right-content-section
{
	font-family: var(--font1);
	color:black;
}

.right-content-section h1
{
	margin: 5% 0;
}

.right-content-para
{
	color:grey;
	line-height: 25px;
}

.info-section-small
{
	color:var(--blue);
	margin-bottom:5%;
	font-family: var(--font1);
	font-size:120%;
	font-weight:500;
}



/*respnsive info section starts*/
@media(max-width: 768px)
{
	.container
	{
		flex-direction: column;
	}

	.left
	{
		width: 100%;
	}

	.right
	{
		width: 80%;
		margin:0;
		margin-top: -150px;
	}
}
/*responsive info section ends*/


/*info section ends*/

/*celebs section starts*/

.celebs-container
{
	margin:10%;
 	background-color: var(--blue);
 	align-items: center;
 	border-radius: 20px;
}

.celebs-container h1
{
	align-items: center;
	color:var(--white);
	font-family: var(--font1);
	padding: 5% 0;
}


.celebs-grid-container
{
  display: grid;
  grid-template-columns: auto auto auto auto;  
  background-color: var(--blue);
  padding: 10px;
  border-radius: 20px;
}



.item1 img
{
	 border-radius: 50%;
	 width:80px;
	 height:80px;
}

.celebs-grid-container div 
{
  font-family: var(--font1);
  text-align: center;
  padding: 40px 0;
  font-weight:500;
  color:var(--white);
  font-size: 100%;
  background-color: var(--blue);
}

.celebs-grid-container p
{ 
	background-color: var(--blue);
}

/*respnsive celebs sections starts*/
@media(max-width: 768px)
{
	.celebs-grid-container
{

  grid-template-columns: 2fr 2fr;

}

}

/*responsive celebs section ends*/


/*celebs section ends*/